<br>
<div class="text-center">
  <%if @lists.size > 0%>
    <h3>Your Lists:</h3>
    <br>
    <%@lists.each do |list|%>
    <a href=<%=user_list_path(current_user, list)%>><p><%=list.name%></p></a>
    <%end%>
  <%else%>
    <h3 >You don't have lists yet</h3>
  <%end%>
</div>

<a href=<%=new_user_list_path(current_user)%> class='text-center'><p style="color: green; padding-top: 8%;">create new list</p></a>